body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  margin-left: 20%;
  margin-right: 20%;
}

.navbar {
  background-color: #000000;
  border-radius: 6px;
  max-width: 100%;
}

.navbar a {
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ffffff;
  color: #000000;
}

.highlight a{
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
	width: 100%;
	text-align: center;
}

.highlight a:hover {
	background-color: #ccc;
}

.highlight a:active {
	background-color: #000000;
	color: white;
}
